<div class="jumbotron">
    <h1>Pivotal Cloud Foundry ASP.NET Web API Demo Application</h1>
    <p class="lead">This RESTful web application binds a user-provided SQL Server DB and provides an ASP.NET Web API.</p>
    <p><a href="https://github.com/jjewett-pivotal/pcf-book-service.git" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>
</div>
<div>
    <p>App Index: @ViewBag.AppIndex</p>
    <p>App IP: @ViewBag.AppIp</p>
</div>
<div>
    @Html.Partial("Kill")
</div>

